{% extends 'inventory/base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block content %}
    <div>
        <h2>Ingredients</h2>
        <h3><a href="{% url 'ingredientcreate' %}">Add</a></h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price Per Unit</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for ingredient in object_list %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.quantity }} {{ ingredient.unit }}</td>
                    <td>{{ ingredient.unit_price|floatformat:2 }}</td>
                    <td><a href="{% url 'ingredientupdate' ingredient.pk}">Update</a></td>
                    <td><a href="{% url 'ingredientdelete' ingredient.pk %}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <p id="test"></p>
        </table>
    </div>
{% endblock %}