{% extends 'inventory/base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block content %}
    <div>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
            {% for ingredient in object_list %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.quantity }} {{ ingredient.unit }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}