{% extends 'inventory/base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block content %}
    <div>
        <h2>Menu</h2>
        <h3><a href="{% url 'menuitemcreate' %}">Add</a></h3>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Delete?</th>
                </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
                <tr>
                    <td><a href="{% url 'menuitemupdate' item.pk %}">{{ item.title }}</a></td>
                    <td align="center">${{ item.price }}</td>
                    <td><a href="{% url 'menuitemdelete' item.pk %}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}