{% extends 'inventory/base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block content %}
    <div>
        <h2>Purchases</h2>
        <h3><a href="{% url 'purchasecreate' %}">Add</a></h3>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Timestamp</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
                <tr>
                    <td>{{ item.menu_item.title }}</td>
                    <td>{{ item.timestamp }}</td>
                    <td><a href="{% url 'purchasedelete' item.pk %}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}